

.left-stage{
    
    height: 100%;
    width: 18%;
    /* border: 1px solid blue; */
    background: white;
    margin-top: 5px;
    background: transparent;
    /* position: absolute;
    left: 1%; */
}
.filters{
    /* border: 1px solid purple; */
    padding: 5px;
    width: 90%;
    margin: auto;
}
.filters div{
    padding: 5px 5px;
}
.inputFilterText{
    width: 40%;
}

.filter-btn{
    margin: 2px;
    padding: 2px;
}
.clearFilters{
    position: relative;
    left: 10px;
}

