

.user-profile{
    
    background-color: lightyellow;
    /* background-color: rgb(248, 148, 148); */
    position: relative;
    border-radius: 15px;
    height: 400px;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.cover-pic{
    display: inline-block;
    position: relative;
    width: 100%;
    /* background-color: lightseagreen; */
    height: 200px;
    /* z-index: 3; */
}
.display-pic{
    top: 130px;
    background-color: lightgray;
    /* box-sizing: border-box; */
    height: 140px;
    z-index: 2;
    position: absolute;
    border: 5px solid white;
    width: 24%;
    left: 38%;
    border-radius: 50%;
}

.edit-cover-pic{
    display: none;
}
.edit-display-pic{
    display: none;
}
.edit-cover-pic-label{
    z-index: 2;
    position: absolute;
    background: gray;
    /* left: 60%; */
    top: 170px;
    right: 2%;
    font-size: 120%;
}
.edit-display-pic-label{
    z-index: 2;
    position: absolute;
    background: gray;
    left: 58%;
    top: 252px;
    font-size: 115%;
}

.user-details{    
    border-radius: 15px;
    background-color: lightyellow;
    /* background-color: rgb(248, 148, 148); */
    width: 90%;
    margin: 20px auto;
}
.name{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 20px;

}

.bio{
    text-align: center;
    font-size: 20px;
}
.edit-user-details{
    background-color: lightcoral;
    /* font-weight: bold; */
    border: 2px solid white;
    width: 30%;
    font-size: 16px;
    position: relative;
    height: 30px;
    border-radius: 12px;
    left: 40%;
    margin-bottom: 10px;
}
.div-group{
    padding: 10px;
    font-size: 20px;
}






.edito{
    /* background-color: black; */
    display: none;
    position: fixed;
    top: 0px;
    left: 20%;
    height: 100%;
    width: 60%;
    z-index: 11;
}
.open-editor{
    display: flex;
}
.left-stage-editor{
    opacity: 0.7;
    background-color: black;
    position: absolute;
    width: 33%;
    color: white;
    height: 100%;
    left: -33%;
}
.right-stage-editor{
    opacity: 0.7;
    background-color: black;
    position: absolute;
    width: 33%;
    height: 100%;
    color: white;
    right: -33%;
}
.editi{
    padding-top: 20px;
    background-color: lightslategray;
    width: 100%;
    height: 100%;
}

.user-profile-editor{
    
    background-color: lightyellow;
    position: relative;
    border-radius: 15px;
    height: 340px;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.cover-pic-editor{
    display: inline-block;
    position: relative;
    width: 100%;
    /* background-color: lightseagreen; */
    height: 170px;
    /* z-index: 3; */
}
.display-pic-editor{
    top: 110px;
    background-color: lightgray;
    /* box-sizing: border-box; */
    height: 120px;
    z-index: 2;
    position: absolute;
    border: 5px solid white;
    width: 24%;
    left: 38%;
    border-radius: 50%;
}

.edit-cover-pic{
    display: none;
}
.edit-display-pic{
    display: none;
}
.edit-cover-pic-label{
    z-index: 2;
    position: absolute;
    background: gray;
    /* left: 60%; */
    top: 140px;
    right: 2%;
    font-size: 120%;
}
.edit-display-pic-label{
    z-index: 2;
    position: absolute;
    background: gray;
    left: 58%;
    top: 210px;
    font-size: 115%;
}


.form-group{
    padding: 8px;
    font-size: 20px;
}

.name-editor{
    text-align: center;
    font-weight: bold;
    /* font-size: 35px; */
    margin-top: 65px;

}
.inputText{
    font-size: 15px;
}
.input-name{
    height: 28px;
    font-size: 18px;
}

.bio-editor{
    text-align: center;
    font-size: 20px;
}
.user-details-editor{    
    border-radius: 15px;
    background-color: lightyellow;
    /* background-color: rgb(248, 148, 148); */
    width: 90%;
    margin: 20px auto;
}
.label-group{
    padding: 10px;
    font-size: 20px;
}
/* .inputText{
    font-size: 15px;
} */
.editor-btns{
    background-color: lightcoral;
    width: 15%;
    height: 5%;
    border-radius: 10px;
    margin: 0px 5px;
    position: relative;
    left: 60%;
}

